@model Asset_Web.Models.Currency

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Currency</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CurrencyId" />
            <div class="form-group">
                <label asp-for="CurrencyName" class="control-label"></label>
                <input asp-for="CurrencyName" class="form-control" />
                <span asp-validation-for="CurrencyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <dl class="row">           
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ExRateUSD)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.ExRateUSD)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ExRateDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.ExRateDate)
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
