@model Asset_Web.ViewModels.CurrencyViewModel



@{ ViewData["Title"] = "Error"; }


<div>
    <h4>Currency</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ErrorMessage)
        </dd>
    </dl>
</div>
<div>
    <a href="javascript: history.go(-1)">Go back to previous page</a>
 </div>