@model Asset_Web.Models.Product


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            @*<div class="form-group">
                    <label asp-for="BrandModelId" class="control-label"></label>
                    <select asp-for="BrandModelId" class="form-control" asp-items="ViewBag.BrandList"></select>
                </div>*@
            <div class="form-group">
                <label asp-for="BrandModelId" class="control-label"></label>
                <select asp-for="BrandModelId" class="form-control" asp-items="ViewBag.BrandModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProdPrice" class="control-label"></label>
                <label> in local currency</label>
                <input asp-for="ProdPrice" class="form-control" />
                <span asp-validation-for="ProdPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdPurchaseDate" class="control-label"></label>
                <input asp-for="ProdPurchaseDate" type="date" class="form-control" />
                <span asp-validation-for="ProdPurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficeId" class="control-label"></label>
                <select asp-for="OfficeId" class="form-control" asp-items="ViewBag.OfficeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
